h2 {
    color: rgba(244, 144, 22, 0.959);
}

body {
    background-color: black;
}

header {
    align-items: center;
    background-color: black;
    color: aqua;
}

main {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* centers quiz box */
}

.container {
    background-color: rgb(12, 134, 174);
    border-radius: 5px;
    padding: 10px;
}

.Stylebutton {
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* column layout */
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 8px solid red;
    background-color: rgb(242, 160, 8);
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    outline: none;
}

.startQuiz-btn,
.nextQuestion-btn {
    font-size: 1.5rem;
    padding: 50px 60px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    border-color: blue;
}

.hide {
    display: none;
}

body.correct {
    background-color: greenyellow;
}

body.incorrect {
    background-color: rgba(255, 0, 0, 0.673);
}